					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
			    <div class="col-md-offset-2 col-md-8">You can view the code at github: <a href="http://github.com/rcpeters/simple-orcid-auth-node" target="github repo">http://github.com/rcpeters/simple-orcid-auth-node</a>
                </div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>