<%include ../components/header.ejs%>
    <p>
        This sample sandbox client application demonstrates a simple client application interacting with <a href="http://members.orcid.org/api/oauth2">ORCID OAuth2</a> service to retrieve a <a href="http://tools.ietf.org/html/rfc6750#section-1.2" targer="bearer_def">bearer token</a>. For a comprehensive overview visit <a href="http://members.orcid.org/api" target="member_api">http://members.orcid.org/api</a>.
    </p>

    <hr />

    <h4>1. <a href="http://tools.ietf.org/html/rfc6749#section-1.3.1" target="Authorization Code">Authorization Code</a></h4>
    <strong>Commonly known as three legged flow. Involves user, client, server</strong>. Used for getting bearer tokens to access API resources that the user (researchers) control access.
    In this example we will request access to authenticate a users ORCID iD and permission to update their ORCID Activities. 
    <ol>
       <li><strong>User interacts with authorization server</strong>. User is redirected to authorization server with link parameters identifying requesting client application. User approves or denies permission for client access.</li>
       <li><strong>User interacts with client application</strong>. User is redirected to client application with authorization code.</li>
       <li><strong>Client application interacts with authorization server</strong>. Client reads authorization code from URL. Uses authorization code and client secret to exchange authorization code for <a href="http://tools.ietf.org/html/rfc6750#section-1.2" target="bearer token">token</a> allowing access.</li>
    </ol>
    <p>
    Learn more about the specifics of ORCID's three legged flow <a href="http://members.orcid.org/api/tokens-through-3-legged-oauth-authorization" target="3leggedFlow">here</a>. 
      </p>
    <p class="home"><a class="btn btn-default btn-lg" href="<%= authorization_uri %>">Start Authorization Code Flow</a></p>
    <p class="note"><strong>NOTE:</strong> it's ok to create fake/test accounts on sandbox.</p>

    <hr>

    <h4>2. <a href="http://tools.ietf.org/html/rfc6749#section-1.3.4">Client Credentials</a></h4>
    <strong>Commonly know as two legged flow. Involves only the client and server</strong>. Used for getting <a href="http://tools.ietf.org/html/rfc6750#section-1.2" target="bearer token">bearer tokens</a> to access API resources ORCID Inc controls access to.
    In this example we will request a /read-public <a href="http://tools.ietf.org/html/rfc6750#section-1.2" target="bearer token">bearer token</a> which allows access to read and search public ORCID records with 
    the ORCID Member API. Read more about the specifics of ORCID's two legged flow <a href="http://members.orcid.org/api/post-oauthtoken-reading-public-data" target="twoStepReadMore">here</a>.
    <p></p>
    <p class="home"><a class="btn btn-default btn-lg" href="/twoStep">Start Client Credentials Flow</a></p>
    <p></p>
    

 <%include ../components/footer.ejs%>
