<%include ../components/header.ejs%>
    <strong>Steps 1 through 3 completed! Yey we have a token!</strong>
	<h2>Token:</h2>
	<pre><%= token %></pre>
	<a class="btn btn-default" href="/">Try again</a>
<%include ../components/footer.ejs%>