<%include ../components/header.ejs%>
    <strong>Yey we have a token!</strong>
	<h2>Token:</h2>
	<pre><%= JSON.stringify(token.token, null, 2) %></pre>
	<br />
	<!--
	<strong>The token JSON provides the following:</strong>
	<ol>
       <li><strong>Authenticated ORCID iD</strong> which we can read from token > orcid.</li>
       <li><strong>Access token</strong>, which is read from token > access_token.</li>
       <li><strong>Scopes</strong>,  which is read from token > scope. This tells us what actions 
       the token can be used for.</li>
    </ol>
    <br />
    -->
	<a class="btn btn-default" href="/">Try again</a>
	<br />    
<%include ../components/footer.ejs%>